<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <%= form_with(model: @picture, local: true ,url: choose_new_or_edit ) do |form| %>
                  <% if @picture.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
                      <ul>
                      <% @picture.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                <div class="my-5">
                    <form>
                      <div class="form-floating">
                        <%= form.file_field :image %>
                        <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
                        <%= form.hidden_field :image_cache %>
                      </div>
                      <div class="form-floating">
                        <%= form.text_field :content, placeholder: "Enter blog content...", class: "form-control", id: "inputContent" %>
                        <label for="inputContent">Content</label>
                      </div>
                      <br />
                      <%= form.submit nil, class: "btn btn-primary text-uppercase" %>
                    <% end %>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>