<!-- Main Content-->
<div class="container px-4 px-lg-5">
<h3 class="post-content"><%= link_to 'New Post', new_picture_path %></h3>
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <% @pictures.each do |picture| %>
          <!-- Post preview-->
            <div class="post-preview">
              <%= link_to picture_path(picture.id) do %>
                <p class="post-image"><%= image_tag picture.image.url %></p>
                <h3 class="post-content"><%= picture.content %></h3>
              <% end %>
              <p class="post-meta">Posted by
                <%= link_to user_path(picture.user.id) do %>
                  <%= picture.user.name %>
                <% end %>
                <%= time_ago_in_words(picture.created_at) %>前
              </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
          <% end %>
        </div>
    </div>
</div>
